<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Dates</th>
        <th scope="col">Text</th>
        <th scope="col">Tags</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.created_at }}</td>
        <td>{{ task.text }}</td>
        <td>{{ ', '.join([str(tag) for tag in task.tags]) }}</td>
        <td><a class="btn btn-sm btn-dark" href="/task/edit/{{ task.id }}">Open</a></td>
    </tr>
    {% end %}
    </tbody>
</table>