{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-12 col-md-6 offset-md-3 p-2 pt-5">
        <h1>Dashboard</h1>
        <h3>Your tags:</h3>
        {% for tag in tags %}
        <a class="btn btn-sm btn-dark m-2" href="/task/search?q={{ tag.name }}">#{{ tag.name }}</a>
        {% end %}
        <hr>
        <h3>Your tasks:</h3>
        {% module TaskList(tasks) %}
    </div>
</div>
{% end %}