{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-12 col-md-6 offset-md-3 p-2 pt-5">
        <h1>Hello {{ current_user.username if current_user else 'world' }}!</h1>
    </div>
</div>
{% end %}
