{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-12 col-md-4 offset-md-4 p-2 pt-5">
        <h1>Login</h1>
        <form class="form-inline" action="{{ request.uri }}" method="post">
            <div class="form-group m-2">
                <input class="form-control" type="text" name="username">
            </div>
            <div class="form-group m-2">
                <input class="form-control" type="password" name="password">
            </div>
            <button class="form-control btn btn-sm btn-dark m-2" type="submit">Login</button>
        </form>
    </div>
</div>
{% end %}
