{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-12 col-md-6 offset-md-3 p-2 pt-5">
        <h1>Search</h1>
        <form class="form-inline" action="{{ request.uri }}">
            <div class="form-group">
                <input class="form-control" placeholder="Tags" type="text" name="q" value="{{ q }}">
            </div>
            <button class="btn btn-sm btn-dark m-2" type="submit">Search</button>
        </form>
        <hr>
        {% module TaskList(tasks) %}
    </div>
</div>
{% end %}