{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-12 col-md-6 offset-md-3 p-2 pt-5">
        <h1>{{ action }} task</h1>
        <form class="form" action="{{ request.uri }}" method="post">
            <div class="form-group">
                <textarea class="form-control" cols="50" name="text">
                    My new #task!
                </textarea>
            </div>
            <div class="form-group">
                {% raw form.valid_from() %}
            </div>
            <div class="form-group">
                {% raw form.valid_to() %}
            </div>
            <button class="form-control btn btn-sm btn-dark" type="submit">{{ action }}</button>
        </form>
    </div>
</div>
{% end %}
